.home-page__success-count {
  background-color: #f6f6f6;
  margin-top: 6rem;
  margin-bottom: 6rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.home-page__success-count__item {
  box-shadow: 0 0 15.1px #00000018;
  padding: 3.5rem 1rem;
  border-radius: 24px;
  background-image: linear-gradient(180deg, #fbfbfb, #efefef);
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  max-width: 410px;
  margin-right: auto;
  margin-left: auto;
}
.home-page__success-count__item h2 {
  font-family: Hind Siliguri, sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  max-width: max-content;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.home-page__success-count__item__1-title {
  background: radial-gradient(65.94% 258.99% at 50% 50%, #00abeb, #fed008);
}
.home-page__success-count__item__2-title {
  background: linear-gradient(99.47deg, #ff5898 20.26%, #ffa712 77.52%);
}
.home-page__success-count__item__3-title {
  background: var(--primary-gradient);
}
.home-page__success-count__item p {
  font-family: Hind Siliguri, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  color: #5c5c5c;
}
@media (max-width: 991.9px) {
  .home-page__success-count__item h2 {
    font-size: 50px;
    line-height: 40px;
  }
}
@media (max-width: 767.9px) {
  .home-page__success-count {
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .home-page__success-count__item h2 {
    font-size: 40px;
    line-height: 30px;
  }
  .home-page__success-count__item p {
    font-size: 20px;
    line-height: 30px;
  }
}
