.marquee-carousel {
  overflow: hidden;
  width: 100%;
  padding-left: 20px;
}
.marquee-carousel__track {
  display: flex;
  width: max-content;
  animation: marquee var(--duration) linear infinite;
  gap: 25px;
}
.marquee-carousel__track[data-direction="reverse"] {
  animation-direction: reverse;
}
.marquee-carousel__track[data-pause="true"],
.marquee-carousel:hover .marquee-carousel__track {
  animation-play-state: paused;
}
@keyframes marquee {
  0% {
    transform: translate(0);
  }
  to {
    transform: translate(-50%);
  }
}
