.home-page__title {
  font-family: Hind Siliguri, sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 70px;
  color: #0b0f2e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 2rem;
}
.home-page__title span {
  opacity: 0;
}
.home-page__title span.home-page__title__highlight {
  background: radial-gradient(65.14% 924.42% at 50% 50%, #4c8df5, #002b70);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-size: 200% 100%;
}
.home-page__title span.home-page__title__highlight svg {
  margin-top: -10px;
  max-width: 100%;
}
.home-page__title[data-state="visible"] span.home-page__title__highlight {
  animation: blur-fade 0.5s ease-in-out forwards, shine 3s linear infinite;
}
.home-page__title[data-state="visible"] span {
  animation: blur-fade 0.5s ease-in-out forwards;
}
.home-page__title[data-state="visible"] span:nth-child(2) {
  animation-delay: 0.3s;
}
.home-page__title[data-state="visible"] span:nth-child(3) {
  animation-delay: 0.6s;
}
.home-page__title[data-state="visible"] span:nth-child(4) {
  animation-delay: 0.9s;
}
.home-page__title[data-state="visible"] span:nth-child(5) {
  animation-delay: 1.2s;
}
.home-page__title[data-state="visible"] span:nth-child(6) {
  animation-delay: 1.5s;
}
.home-page__title[data-state="visible"] span:nth-child(7) {
  animation-delay: 1.8s;
}
@media (max-width: 1199.9px) {
  .home-page__title--success-count {
    font-size: 50px;
    line-height: 60px;
  }
  .home-page__title--success-count span.home-page__title__highlight svg {
    width: 320px;
  }
  .home-page__title--become-backend-developer {
    font-size: 50px;
    line-height: 60px;
  }
  .home-page__title--become-backend-developer
    span.home-page__title__highlight
    svg {
    margin-top: -5px !important;
    width: 570px;
  }
}
@media (max-width: 991.9px) {
  .home-page__title {
    gap: 8px;
    font-size: 40px;
    line-height: 50px;
  }
  .home-page__title--success-count span.home-page__title__highlight svg {
    width: 260px;
  }
  .home-page__title--why-phitron span.home-page__title__highlight svg {
    width: 65px;
  }
  .home-page__title--features span.home-page__title__highlight svg,
  .home-page__title--mentors span.home-page__title__highlight svg {
    width: 168px;
  }
  .home-page__title--what-will-learn span.home-page__title__highlight svg {
    width: 215px;
  }
  .home-page__title--become-backend-developer {
    max-width: 800px !important;
  }
  .home-page__title--become-backend-developer
    span.home-page__title__highlight
    svg {
    width: 460px;
  }
  .home-page__title--problem-solvers-club span.home-page__title__highlight svg {
    width: 240px;
  }
}
@media (max-width: 767.9px) {
  .home-page__title {
    font-size: 32px;
    line-height: 40px;
  }
  .home-page__title--success-count span.home-page__title__highlight svg {
    width: 200px;
  }
  .home-page__title--why-phitron span.home-page__title__highlight svg {
    width: 45px;
  }
  .home-page__title--features span.home-page__title__highlight svg,
  .home-page__title--mentors span.home-page__title__highlight svg {
    width: 135px;
  }
  .home-page__title--what-will-learn span.home-page__title__highlight svg {
    width: 172px;
  }
  .home-page__title--become-backend-developer
    span.home-page__title__highlight
    svg {
    width: 360px;
  }
  .home-page__title--problem-solvers-club span.home-page__title__highlight svg {
    width: 190px;
  }
}
@media (max-width: 411.9px) {
  .home-page__title--become-backend-developer
    span.home-page__title__highlight
    svg {
    width: 200px;
  }
}
@keyframes blur-fade {
  0% {
    opacity: 0;
    transform: translateY(calc(var(--translate-y, 0px) - 50px))
      translate(var(--translate-x, 0));
    filter: blur(10px);
  }
  to {
    opacity: 1;
    transform: translateY(var(--translate-y, 0))
      translate(var(--translate-x, 0));
    filter: blur(0px);
  }
}
